.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    height: 150px;
    width: 100%;
    background-color: #07576e;
}

.date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
    font-family: "serif";
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.playlist-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.invitados-section {
    text-align: center;
    height: 100vh;
}

.novios-section {
    text-align: center;
}

.ceremonia-section {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.asistencia-section {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dresscode-section {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.regalo-section {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    align-items: center;
    text-align: center;
}

.playlist-section {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gracias-section {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.regalo-title {
    font-family: "Roboto Serif", serif;
    margin: 0;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 2px;
    line-height: 2rem;
}

.lunamiel-title {
    font-family: "Gwendolyn", cursive;
    margin-left: 0.5rem;
    font-weight: normal;
    font-style: normal;
    font-size: 4rem;
    color: #1b7895;
    letter-spacing: 4px;

}

.cbu {
    font-family: "Roboto Serif", serif;
    font-size: 1.5rem;
    letter-spacing: 3px;
}


.invitado-title {
    font-family: "Gwendolyn", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 8rem;
}

.novios-title {
    font-family: "Gwendolyn", cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 8rem;
    color: black;
    line-height: 7rem;
}

.ceremonia-title {
    font-family: "Gwendolyn", cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 5rem;
    color: #1b7895;
}

.playlist-title {
    font-family: "Gwendolyn", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    margin: 0;
    white-space: nowrap;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #1b7895;

}

.dresscode-title {
    font-family: "Gwendolyn", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    margin: 0;
    color: #1b7895;

}

.dresscode-elegante {
    font-family: "Roboto Serif", serif;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 5px;
}

.dresscode-reservado {
    font-family: "Roboto Serif", serif;
    margin: 0;
    font-weight: 400;
    font-size: 1.7rem;
    text-align: center;
    letter-spacing: 5px;
}


.novios-date {
    font-family: "Roboto Serif", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
    line-height: 5rem;
    color: #07576e;
}

.description {
    font-family: "Roboto Serif", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
}

.acepto-invitacion {
    font-family: "Roboto Serif", serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-style: normal;
    font-size: 2rem;
}

.acepto-title {
    font-family: "Gwendolyn", cursive;
    margin-left: 0.5rem;
    font-weight: normal;
    font-style: normal;
    font-size: 4rem;
    color: #1b7895;
}

.llegar-button {
    font-family: "serif";
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: #1b7895;
    height: 60px;
    width: 190px;
    letter-spacing: 2px;
    cursor: pointer;
}

.asistencia-button {
    margin-top: 1rem;
    font-family: "serif";
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: #1b7895;
    height: 60px;
    width: 300px;
    letter-spacing: 2px;
    cursor: pointer;
}

.corazon-wrapper {
    display: flex;
    justify-self: center;
    position: relative;
    width: 50%;
    height: 50%;
    margin-top: 5rem;
}

.corazon-top {
    font-family: "Gwendolyn", cursive;
    white-space: nowrap;
    text-align: center;
    font-size: 3rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.corazon-bottom {
    font-family: "Roboto Serif", serif;
    white-space: nowrap;
    text-align: center;
    font-weight: 200;
    font-style: normal;
    font-size: 2rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.ring-icon {
    height: 100px;
    width: 100px;
}

.champagne-icon {
    height: 120px;
    width: 120px;
    filter: brightness(0) saturate(100%) invert(33%) sepia(77%) saturate(490%) hue-rotate(148deg) brightness(100%) contrast(89%);
}

.dresscode-icon {
    height: 120px;
    width: 120px;
}

.gift-icon {
    height: 120px;
    width: 120px;
}

.music-icon {
    height: 75px;
    width: 75px;
    filter: brightness(0) saturate(100%) invert(33%) sepia(77%) saturate(490%) hue-rotate(148deg) brightness(100%) contrast(89%);

}


.direccion {
    font-size: 3rem;
    text-align: center;
    line-height: 3.5rem;
    letter-spacing: 0.5rem;
}